--- 
import { basics } from '@cv';
import Section from "../Section.astro";
import Mail from "src/icons/Mail.astro"
import Phone from "src/icons/Phone.astro"
import Github from "src/icons/Github.astro"
import Linkedin from "src/icons/Linkedin.astro"
import WorldMap from 'src/icons/WorldMap.astro';

const { name, label, image, location, profiles, phone, email} = basics;
const { city, country } = location

const SOCIAL_ICONS: Record<string, any> ={
    Github,
    Linkedin
}
const linkedinInfo = profiles.find(({network})=>network==="Linkedin")
const linkedinUrl = linkedinInfo?.url
const printInfo = [email, phone, linkedinUrl].filter(Boolean).join(' • ');
---

<Section>
    <div class="container">
        <div class="info">
            <h1>{name}</h1>
            <h2>{label}</h2>
            <span>
                <WorldMap />
                {city}, {country}
            </span>
            <footer class="print">
                {printInfo}
            </footer>
            <footer class="no-print">
                {
                email && (
                    <a
                        href={`email:${email}`}
                        title={`Send an email to ${name} to${email}`}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Mail />
                    </a>
                )}
                {phone && (
                    <a
                        href={`Phone:${phone}`}
                        title={`Call ${name} to${phone}`}
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <Phone />
                    </a>
                )}
                {profiles.map(({ network, url, username }) => {
                    const Icon = SOCIAL_ICONS[network];
                    return (
                        <a
                            href={url}
                            title={`Visitar el perfil de ${name} en ${network}`}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <Icon />
                        </a>
                    );
                })}
            </footer>
        </div>
        <figure>
            <img src={image} alt={name} />
        </figure>
    </div>
</Section>

<style>
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        gap: 0.05rem;
        padding-right: 32px;
        
    }
    h1 {
        font-size: 2rem;
        font-family: 'SF-Mono',ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
    
    h2 {
        color: #444;
        font-weight: 500;
        font-size: 1.1rem;
        text-wrap: balance;
        font-family: 'SF-Mono',ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

    }
    img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 180px;
        border-radius: 16px;
    
    }
    span{
        color: #666;
        display: flex;
        align-items: center;
        gap:.25rem;
        font-size: .85rem;
        letter-spacing: -0.05rem;
    }
    footer{
        color: #555;
        font-size: 0.65rem;
        display: flex;
        align-items: center;
        gap:4px;
        margin-top: 8px;
    }
    footer a{
        color: #777;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eee;
        padding: 4px;
        height: 20px;
        width: 20px;
        border-radius: 6px;
        transition: all .3s ease;
    }
    footer a:hover{
        background: #eee;
        border: 1px solid #ddd;
    }
    .print{
        display: none;
    }
    @media print {
    .no-print {
        display: none !important;
    }

    .print {
        display: block !important;
    }
}
</style>
<link href="https://fonts.cdnfonts.com/css/sf-mono" rel="stylesheet">